<!DOCTYPE html>
<html>
	<head>
		<title>List</title>
		<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
		<style>
			.actions-left {
				margin-top: 8px;
				margin-bottom: 8px;
				float: left;
				width: auto;
				display: flex;
				gap: 8px;
			}
			.actions-right {
				margin-top: 8px;
				margin-bottom: 8px;
				float: right;
				width: auto;
				display: flex;
				gap: 8px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<h1>Papers</h1>
			<div id="alert_cont"></div>
			<div class="actions-left">
				<a id="btnUpdate" class="btn btn-secondary" role="button" onclick="update()">Update</a>
			</div>
			<div class="actions-right">
				<a id="btnHide" class="btn btn-info" role="button" data-bs-toggle="tooltip"
					data-bs-title="Hide selected/checked papers so that they don't appear in the list">Hide</a>
				<a id="btnDelete" class="btn btn-danger" role="button" data-bs-toggle="tooltip"
					data-bs-title="Delete selected/checked papers so that they are removed permanently">Delete</a>
				<div class="dropdown">
					<button class="btn btn-info dropdown-toggle" type="button" id="btnDelType"
						data-bs-toggle="dropdown" aria-expanded="false">
						Selected Papers
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Selected Papers</a></li>
						<li><a class="dropdown-item" href="#">Added Yesterday</a></li>
						<li><a class="dropdown-item" href="#">Added Day Before</a></li>
						<li><a class="dropdown-item" href="#">Added 7+ Days Ago</a></li>
					</ul>
				</div>
			</div>
			<script>
				function update() {
					show('Started updating papers ...', 'alert-info')
					$.ajax({url: "/fetch", type: "POST",
						success: function(response) {
							show(response, 'alert-success')
						},
						error: function(xhr, status, errorThrown) {
							show(xhr.responseText, 'alert-danger')
						}
					})
				}

				function show(message, type) {
					var html = '<div class="alert ' + type + ' alert-dismissible fade show" role="alert">' +
						message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">' +
						'</button></div>';
					$('#alert_cont').html(html);
				}
			</script>
			<div style="clear: both;"></div>
			<table id="table" data-show-columns="true" data-pagination="true" data-page-size="25" data-search="true"
				data-show-jump-to="true" data-sort-name="created" data-click-to-select="true" data-sort-order="desc">
				<thead>
					<tr>
						<th data-checkbox="true"></th>
						<th data-field="id" data-sortable="true" data-width="100">ID</th>
						<th data-field="created" data-sortable="true" data-width="60">Added On</th>
						<th data-field="title" data-sortable="true" data-width="325">Title</th>
						<th data-field="author" data-sortable="true" data-width="260">Authors</th>
						<th data-field="brief">Summary</th>
					</tr>
				</thead>
			</table>
			<!-- Bootstrap Table -->
			<link href="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.css" rel="stylesheet">
			<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/bootstrap-table.min.js"></script>
			<!-- Bootstrap Table page jump -->
			<link href="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.css" rel="stylesheet">
			<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/page-jump-to/bootstrap-table-page-jump-to.min.js"></script>
			<!-- Bootstrap Table sticky header -->
			<link href="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.css" rel="stylesheet">
			<script src="https://unpkg.com/bootstrap-table@1.21.0/dist/extensions/sticky-header/bootstrap-table-sticky-header.min.js"></script>
			<script>
				var $table = $('#table')
				var $btnHide = $('#btnHide')
				var $btnDel = $('#btnDelete')

				$(function() {
					const triggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
					const tooltipList = [...triggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

					var data = [
						{% for row in data %}
							{
							{% for key, value in row.items() %}
								"{{ key }}": "{{ value }}",
							{% endfor %}
							},
						{% endfor %}
					]

					$table.bootstrapTable({data: data, stickyHeader: true, sortReset: true})
				})

				$table.on('dbl-click-row.bs.table', function (row, $element, field) {
					if (confirm('View the paper: ' + $element.title + '?')) {
						// Open the paper page in a new tab
						window.open($element.link)
					}
				})

				$btnHide.click(function () {
					var json = $table.bootstrapTable('getSelections')
					if (json.length == 0) {
						alert('No papers selected! Please select papers before trying to Hide.')
						return
					}
					var list = ""
					json.forEach(item => {
						if (list.length == 0) {
							list = "'http://arxiv.org/abs/" + item.id + "'"
						} else {
							list = list + ", 'http://arxiv.org/abs/" + item.id + "'"
						}
					})
					$.ajax({url: "/hide", type: "POST", contentType: 'application/json', data: {"items": list},
						success: function(response) {
							show(response, 'alert-success')
						},
						error: function(xhr, status, errorThrown) {
							show(xhr.responseText, 'alert-danger')
						}
					})
				})

				$(".dropdown-menu li a").click(function(){
					var text = $(this).text();
					$(this).parents('.dropdown').find('.dropdown-toggle').html(text + ' <span class="caret"></span>');
				});
			</script>
		</div>
	</body>
</html>